.logo-home {
    width: auto !important;
    max-width: 65vw !important;
    height: auto !important;
    max-height: 15vh !important;
}
.ico-search {
    min-width: 1rem !important;
    max-width: 1.3rem !important;
}
