.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container.position-absolute,
.swiper-container.pumaSwiper {
    height: 100vh;
    min-height: 100vh;
}

/* .swiper-slide {
} */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .mySwiper.resultados img,
.mySwiper.sorteos img,
.mySwiper.testimonios img,
.mySwiper.ubicanos img {
    width: auto;
    height: auto;
    max-height: 10vh;
} */
