:root {
    --inclinacion: skewX(-15deg);

    --bs-primary: #e9da00 !important;
    --bs-secondary: #0a6500 !important;
    --bs-info: #b5b5b5 !important;
    --bs-light: #ffffff80 !important;
    --bs-dark: #666666bf !important;

    --bs-yellow: #e9da00 !important;
    --bs-green: #0a6500 !important;
    --bs-white: #fff !important;
    --bs-gray: #b5b5b5 !important;
    --bs-gray-light: #eeeeee !important;

    --max-height: 65vh;
}
